
body{font-family: 'Open Sans', sans-serif;}
/*========== available fonts ==========*/
/* font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Montserrat', sans-serif; */

/*=================== Header style ======================*/
header a.logo img {max-height: unset;}
header.sticky nav.header-light .logo .logo-dark {height: 45px;}
header.header-appear nav.bootsnav.header-light-transparent .navbar-nav > li.active > a, header.header-appear nav.bootsnav.header-light .navbar-nav > li.active > a, header nav.navbar .navbar-nav > li.active > a, nav.navbar.bootsnav ul.nav > li.active > a { color:purple;}
header.sticky nav.navbar.navbar-default.navbar-fixed-top ul.nav > li > a, header.sticky nav.navbar.navbar-default.navbar-top ul.nav > li > a {padding: 25px 0 22px;}
.signup-link {padding-top: 46px;}
.signup-link a {font-size: 16px !important;}
.signup-link a {font-size: 16px !important;padding-left: 13px !important;padding-right: 13px !important;}
header.sticky .signup-link {padding-top: 16px;}
nav.navbar.navbar-default ul.nav > li > a {padding: 54px 0 48px;background: transparent; border-color: transparent; font-weight: bold; font-size: 16px; font-family: 'Lato', sans-serif; color:#434343;}
header.header-appear nav.bootsnav.header-light-transparent .navbar-nav > li > a:hover, header.header-appear nav.bootsnav.header-light .navbar-nav > li > a:hover, header.header-appear nav.header-light-transparent .header-social-icon a:hover, header.header-appear nav.header-light .header-social-icon a:hover, header.header-appear nav.header-light.white-link .header-social-icon a:hover, header.header-appear nav.header-light-transparent.white-link .header-social-icon a:hover, header.header-appear nav.header-light-transparent.white-link .heder-menu-button a:hover, header.header-appear nav.header-light-transparent .header-searchbar a:hover, header.header-appear nav.header-light .header-searchbar a:hover, header.header-appear nav.header-light.white-link .header-searchbar a:hover, header.header-appear nav.header-light-transparent.white-link .header-searchbar a:hover, header nav.navbar .navbar-nav > li > a:hover, nav.navbar.bootsnav ul.nav > li > a:hover, .header-search-form:hover, .header-social-icon a:hover {
    color: purple;
}
/* ================== General style ======================*/
.container {width: 1470px;max-width:100%;}
.scroll-top-arrow, .scroll-top-arrow:focus{background: purple; opacity: .8;}
.scroll-top-arrow:hover {background: purple;opacity: 1;}
.buy-theme {display: none;}
.buy-theme:hover, .all-demo:hover{background: purple;}
.all-demo {display: none;}
.slider-text-middle{display: teble-cell; vertical-align: middle;}
.width-100{width:100%;}
/*  16px gutter */
.gutter-16.row {
  margin-right: -8px;
  margin-left: -8px;
}
.gutter-16 > [class^="col-"], .gutter-16 > [class^=" col-"] {
  padding-right: 8px;
  padding-left: 8px;
}

/* Placeholder style */
.placeholder-purple::-webkit-input-placeholder {color: purple;}
.placeholder-purple::-moz-placeholder {color: purple;}
.placeholder-purple:-ms-input-placeholder {color: purple;}
.placeholder-purple:-moz-placeholder {color: purple;}

.placeholder-white::-webkit-input-placeholder {color: white;}
.placeholder-white::-moz-placeholder {color: white;}
.placeholder-white:-ms-input-placeholder {color: white;}
.placeholder-white:-moz-placeholder {color: white;}

.placeholder-lightgray::-webkit-input-placeholder {color:#a6a6a6 !important; font-size: 16px !important; font-family: 'Open Sans', sans-serif !important; text-transform: unset !important;}
.placeholder-lightgray::-moz-placeholder {color: #a6a6a6  !important; font-size: 16px !important;  font-family: 'Open Sans', sans-serif !important; text-transform: unset !important}
.placeholder-lightgray:-ms-input-placeholder {color: #a6a6a6  !important; font-size: 16px !important; font-family: 'Open Sans', sans-serif !important; text-transform: unset !important}
.placeholder-lightgray:-moz-placeholder {color: #a6a6a6 !important; font-size: 16px !important; font-family: 'Open Sans', sans-serif !important; text-transform: unset !important}

/* ================== Buttons style =======================*/
.btn.btn-deep-purple{background-color: purple; color:#fff;}
.btn.btn-deep-purple:hover, .btn.btn-deep-purple:focus{background-color: #640664;}
.btn.btn-purple-white-border {background-color: purple;border: 1px solid #fff; color: #fff;}
.btn.btn-purple-white-border:hover {border-color: purple;}

/* =================== Fonts style ========================*/
.lato{font-family: 'Lato', sans-serif;}
.open-sans{font-family: 'Open Sans', sans-serif;}
.mon{font-family: 'Montserrat', sans-serif;}
.btn.font-weight-700{font-weight: 700;}

/* ================= Home Page style ======================*/
.home-panner-height{height:750px}
.home-banner {margin-top: 122px !important;}
.home-banner {margin-top: 122px !important; background-size: cover; background-repeat: no-repeat; background-position: center center !important; background-attachment: scroll;}
.home-banner h4 {font-size: 62px;}
.home-banner p {font-size: 28px;font-family: 'Open Sans', sans-serif !important;  letter-spacing: 1px;  margin-bottom: 33px;}
.home-banner .btn {text-transform: unset; margin-right: 30px;}

/* +++++++Search-box+++++++ */
.search-section {
    margin-top: -78px;
}
.search-box {
    display: inline-block;
    width: 100%;
    padding:32px 27px 30px;
    -webkit-box-shadow: 0px 3px 16px 0px rgba(1, 1, 1, 0.35);
    -moz-box-shadow: 0px 3px 16px 0px rgba(1, 1, 1, 0.35);
    box-shadow: 0px 3px 16px 0px rgba(1, 1, 1, 0.35);
    background-color: #fff; 
}
.search-box label {
    font-weight: 600;
    color: #404040;
    font-family: 'Open Sans';
    padding-left:10px;

}
.search-box input {
    margin-bottom: 0;
    height: 46px !important;
    border-color: #585858 !important;
    padding-top: 5px;
    font-size: 16px !important;
}
.search-box .select-style {margin-bottom: 0;height: 46px !important;border-color: #585858 !important;padding-top: unset;font-size: 16px !important;}
.search-box .select-style{font-weight:600;}
.search-box input:focus {
    border-color: #800080 !important;
}
.btn-with-seperater span:before {
    border-left: 1.5px solid;
    margin-left: 12px;
    padding-left: 12px;
    line-height: 21px;
    content: '';
    position: relative;
    top: 2px;
}

.btn-with-seperater i {
    margin-top: 1px;
}
.btn-with-seperater span:before {
    border-left: 1.5px solid;
    margin-left: 12px;
    padding-left: 12px;
    line-height: 21px;
    content: '';
    position: relative;
    top: 2px;
}

.btn-with-seperater i {
    margin-top: 1px;
}

.search-box .btn {
    max-width: 240px;
    margin-top: 28px;
    height: 46px;
}
.search-box .col-1 {
    width: calc(100% - 240px);
    float: left;
    padding-right:47px
}

.search-box .col-2 {
    float: left;
    width: 240px;
}


/* Media Quries */
@media(max-width:991px){
    .search-box .col-1 {
        padding-right: 0px;
        width:100%;
    }
    .search-box .btn {
        margin-top: 10px;
    }
}