.modal .modal-header {
    border-bottom: 1px solid #EFEFEF;
    background: #800080;
    color: #fff;
}
.modal .modal-header .close{
    color:#fff;
}

.rk-modal .modal-dialog {
    background: transparent;
    margin: 0 auto;
    padding: 0;
    width: 100%;
}
.rk-modal .modal-content {
    margin: 0;
    padding: 0;
    border: 0;
}
.modal .modal-header .close {
    margin-top: 8px !important;
    opacity: 0.8;
    transition: all 0.3s ease;
}
.modal .modal-header .close:hover {
    opacity: 1;
    transition: all 0.3s ease;
}
#addCategory .form-body {
    padding: 20px 0 0;
}
#addUser {
    width: 900px;
}
#addUser {
    width: 900px;
    margin-left: -415px;
}
#addUser .form-group.form-md-line-input {
    margin-bottom: 20px;
}
.add-guest .portlet.light {
    padding-bottom: 30px !important;
}
.add-guest h3.block {
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 20px;
}
.purple{
    color:#800080 !important;
}
.form-group.form-md-line-input .form-control.edited:not([readonly]):not(:focus) ~ .help-block-error{
    opacity: 1 !important;
}
#datatable_adminusers tr td{
    vertical-align: middle;
}

.vertical_align_middle tr td{
    vertical-align: middle !important;
}
.dropzone .dz-preview .dz-error-message{
    color:white;
}
.cbp-l-caption-alignCenter .cbp-l-caption-body{
    padding: 4px 0 !important;
}
.file-upload-dropzone{
    position: absolute;
    top: 25%;
    left: 35%;
}
.margin-top-300{
    margin-top: 300px !important;
}
.margin-bottom-250{
    margin-bottom:250px;
}
.bg-color-white {
    background: #fff !important;
}
.portlet.light > .portlet-title > .nav-tabs > li > a{
    font-size: 11px;
}
.education_table_wrapper,.experience_table_wrapper{
    overflow: hidden;
}
div#certification_table_wrapper{
    overflow: hidden;
}

/*border issue*/
.tabbable-line > .nav-tabs > li{border-bottom: 4px solid transparent !important;}
.tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs > li:hover {background: none;border-bottom: 4px solid rgba(128, 0, 128, 0.49) !important;}
.tabbable-line > .nav-tabs > li.active {border-bottom: 4px solid #800080 !important;position: relative;}
/*border issue end*/

.id-proof .slim .slim-file-hopper {
    background-image: url(../../../frontend/img/IDp.jpg);
    background-size: contain;
}
.profile-image .slim .slim-file-hopper {
    background-image: url(../../../frontend/img/pp1.jpg);
    background-size: contain;
}
.slim-error{
    z-index:10;
    color:pink;
}